body{
    margin: auto;
}

main{
    padding: 5px;
}

.banner{
    margin: auto;
    background-image: url(./img/pattern.png);
    width: auto;
    height: 180px;
    background-color: aquamarine;
}

.logo{
    height: 250px;
    width: 400px;
    margin-left: 10px;
}

h1{
    margin-bottom: 0px;
}

.Nome{
    color: aquamarine;
}

.highlight{
    background-color: yellow;
}

table{
    table-layout: fixed;
    width: 100%;
    text-align: center;
}

th{
    background-color: aquamarine;
}

.tabella-row{
    background-color: rgb(141, 194, 176);
}

ul{
    margin: 0%;
    padding: 1%;
}